NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
GMAIL_SMTP_USER=
GMAIL_SMTP_APP_PASSWORD=
REMINDER_FROM_EMAIL=EventDrop <your-gmail-address@gmail.com>
REMINDER_TIME_ZONE=Asia/Kolkata
INTERNAL_JOB_SECRET=
NEXT_PUBLIC_DEFAULT_LAT=12.845200
NEXT_PUBLIC_DEFAULT_LNG=80.060800
NEXT_PUBLIC_DEFAULT_DISTANCE_MILES=5
ADMIN_CLERK_USER_IDS=
REMINDER_TEST_MODE=false
